.demoButton {
  background-color: #fd5933 !important;

}

.highContrast {
  background-color: blue !important;
}

.fontWeight {
  font-weight: bold !important;
}

.fontSize {
  font-size: 25px !important;
}

.pageHeader {
  font-weight: bold !important;
  font-size: 29px !important;
}

.large-screen-view {
  display: block;
}

.mobile-view {
  display: none;
}

@media (max-width: 768px) {
  .large-screen-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

@media (max-width: 768px) {
  .mobileVieForm {
    padding: 14px;
  }
}

.link {
  text-decoration: none;
}

.activeLink {
  color: #fd5933;
}

.inactiveLink {
  color: black;
}



.website {
  font-weight: bold;
  /* Make 'Website' bold */
  font-style: italic;
  /* Apply a different font style */
  font-size: 30px;
}

.restText {
  font-weight: bold;
  /* Make the rest of the text bold */
}

.css-1n3sxlg-MuiGrid-root>.MuiGrid-item {
  padding-right: 18px;
}

.css-1n3sxlg-MuiGrid-root>.MuiGrid-item {
  padding-top: 8px;
  padding-bottom: 6px;
}